.header-wrapper {
  max-width: 1920px;
  margin: 0 auto;

  &.gradient {
    background-color: rgba(0, 178, 227, 1);
  }

  .header__icon .icon {
    height: 30px;
    width: 30px;
    color: #fff;
  }
  
  li a {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
  }

  .header__menu-item:hover {
    color: #fff;
  }
}

.header__icons {
  padding-right: 0;
  align-items: center;
  gap: 20px;

  @media (max-width: 990px) {
    display: none;
  }

  @media (min-width: 1125px) {
    gap: 37px;
  }

  .header__phone {

    &_number {
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: left;
      color: #fff;
      text-decoration: none;
      display: flex;
      gap: 16px;

      &:hover {
        text-decoration: underline;
      }

      span {
        margin-top: 3px;
      }
    }
  }

  .header__phone:hover .icon-tel {
    transform: scale(1.07);
  }
}

.header--middle-left {
  column-gap: 1rem;

  @media (min-width: 1125px) {
    column-gap: 4rem;
  }
}
.header__inline-menu {
  text-align: center;

  @media (min-width: 1360px) {
    margin-left: 228px !important;
  }

  @media (max-width: 1359px) {
    margin-left: 60px !important;
  }

  .header__menu-item {
    padding-left: 20px;
    padding-right: 20px;

    @media (min-width: 1200px) {
      padding-left: 36px;
      padding-right: 36px;
    }
  }
}

@media (max-width: 990px) {

  .header-wrapper { 

    .header { 
      align-items: center;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: 10px 35px 10px 40px !important;
      .header__heading-logo-wrapper {

        img {
          width: 59px !important;
        }
      }
      
      .header__heading-link {
        padding: 0;
      }

      .menu-drawer-container {

        .header__icon{
          height: 24px;
          width: 24px;

          .inner-icons {
            width: 24px;
            height: 24px;

            .icon {
              height: 24px;
              width: 24px;
            }
          }
        }
        .menu-drawer {
          background-color: #00b2e3 !important;
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
          height: auto;

          .menu-drawer__inner-container {
            border-top: 1px solid #d5dadd;
            height: auto;
            max-height: calc(100vh - 61px);
            padding: 30px 34px 50px;

            .search-modal__form {

              .field::after {
                border: 1px solid #fff;
              }

              .field:after {
                box-shadow: none;
              }

              .field:hover.field:after {
                box-shadow: none;
              }

              .field__input:focus {
                box-shadow: none;
              }

              .field__label {
                color: #fff;
                font-family: "Poppins";
                font-size: 16px;
                font-weight: 300;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
              }

              .field__input:focus ~ .field__label {
                font-size: 10px;
              }

              .search__input.field__input {
                color: #fff;
                background-color: #00b2e3;
              }

              .search__button.field__button {
                color: #fff;
                margin-right: 10px;

                svg{
                  height: 20px;
                  width: 20px;
                }
              }
            }

            .menu-drawer__navigation-container {
              height: auto;

              .menu-drawer__navigation {
                padding-top: 20px;
                padding-bottom: 40px;
          
                .menu-drawer__menu.has-submenu.list-menu {
                  display: flex;
                  flex-direction: column;
          
                  .custom-link {
                    text-align: center;
                    width: 100%;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 27px;
                    letter-spacing: 0em;
                    color: #fff;
                    text-transform: uppercase;
                    text-decoration: none;
                    border-bottom: 1px solid #fff;

                    &:hover {
                      text-decoration: underline;
                      text-underline-offset: 0.3rem;
                    }
                  }
                }
              }
             
              .header__phone_mobile-drawer {
                display: flex;
                justify-content: center;

                .header__phone_number {
                  color: #fff;
                  font-size: 20px;
                  font-weight: 600;
                  line-height: 30px;
                  letter-spacing: 0em;
                  display: flex;
                  gap: 16px;
                  text-decoration: none;
                  align-items: center;

                  .svg-tell{
                    height: 24px;
                    width: 24px;
                  }

                  &:hover {
                    text-decoration: underline;
                    text-underline-offset: 0.3rem;
                  }
                }
              }

              .menu-drawer__utility-links {
                background-color: #00b2e3;

                .list-social {
                  justify-content: center;
                  display: flex;
                  margin-left: 0;

                  .list-social__item:hover {
                    transform: scale(1.07);
                  }

                  .list-social__item .icon {
                    height: 4rem;
                    width: 4rem;
                  }
                }
              }
            }   
            .drawer_logo_inner {

              .logo-wrapper {
                margin-top: 7px;
                text-align: center;

                .mobile-logo {
                  width: 134px;
                  height: 92px;
                }
              }
            }
          }
        }     
      }
    }
  }

  .js .menu-drawer {
    height: auto !important;
  }

  .header__phone.header__phone--desk {
    display: none;
  }
}

