.custon-template-404 {
  .predictive-search__search-for-button {
    display: none;
  }
  padding: 0px 20px !important;
  @media screen and (max-width: 500px) {
    margin-top: 0px;
  }
  .icon-404 {
    max-width: 300px;
    width: 100%;
    @media screen and (max-width: 500px) {
      height: 400px;
    }
  }
  .error-404__title{
    max-width: 406px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .button.btn {
    margin-bottom: 20px;
    text-transform: uppercase;
    border-radius: 3px;
    color: #fff;
  }
  .error-404__button.btn {
    background-color: #ffbf26;
    border-radius: 3px;
    color: #fff;
    font-family: "Awesome Serif", sans-serif;
    height: 47px;
    line-height: 47px;
    padding: 0 35px;
    display: inline-block;
    text-transform: uppercase;
  }
  .error-404__buttons {
    a:not(.button):hover {
      text-decoration: none;
      box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset))
          rgba(var(--color-button-text), var(--border-opacity)),
        0 0 0 calc(var(--buttons-border-width) + 1px) #ffbf26;
    }
  }
}
