body {
  color: rgb(var(--color-foreground));
  min-width: 320px;
  h1,
  h2,
  h3,
  h4 {
    margin: 0;
  }
}
*{
  scroll-behavior: smooth;
}
.page-width {
  padding-left: 35px !important;
  padding-right: 35px !important;
  max-width: 1360px;
}
