<div class="banner-with-text">
  <div class="page-width">
    {%- for block in section.blocks -%}
      {% if block.type == 'text' %}
        <div class="banner-with-text__wraper">
          {% if block.settings.text != blank %}
            <p class="banner-with-text__wraper__text">{{ block.settings.text }}</p>
          {% endif %}
          {% if block.settings.text_image != blank %}
            {{ block.settings.text_image | image_url: width: 400 | image_tag: class: 'banner-with-text__wraper__image' }}
          {% endif %}
        </div>
      {% endif %}
    {%- endfor -%}
  </div>
</div>
<style>
  .banner-with-text {
    max-width: 1920px;
    background: url('{{ section.settings.background | image_url }}') center/cover no-repeat;
  }

  @media (max-width: 480px) {
    .banner-with-text {
      background: url('{{ section.settings.background_mob | image_url }}') center/cover no-repeat;
      max-width: 100%;
      min-height: 564px;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      padding-bottom: 50px;
    }
  }
</style>
{% schema %}
  {
    "name": "Banner with text",
    "tag": "section",
    "class": "section-banner-with-text",
    "settings": [
      {
        "type": "checkbox",
        "id": "include_margins",
        "default": true,
        "label": "t:sections.apps.settings.include_margins.label"
      }, {
        "type": "image_picker",
        "id": "background",
        "label": "background image"
      }, {
        "type": "image_picker",
        "id": "background_mob",
        "label": "background image mob"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "banner text",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "text",
            "label": "Banner text"
          }, {
            "type": "image_picker",
            "id": "text_image",
            "label": "Text image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Banner with text"
      }
    ]
  }
{% endschema %}